.section {
  width: 100%;
  height: 600px;
  margin-top: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin-left: 15%;
}

.heading {
  font-size: 40px;
  font-weight: bolder;
  color: #0085a1;
  /* text-align: start; */
}

.bubble {
  font-size: 70%;
  color: white;
  padding: 30px;
  text-align: start;
  width: 400px;
  height: 200px;
  background-color: #0085a1;
  border-radius: 0 30px 30px 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.bubble_image {
  width: 80%;
}
